{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add Cocktail to My Cabinet</h3>

<main class="container">
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_cocktail') }}">
            <!-- cocktail name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-glass-martini-alt prefix tooltipped" data-position="bottom" data-tooltip="Cocktail Name must be between 2 and 25 characters long"></i>
                    <input id="cocktail_name" name="cocktail_name" minlength="2" maxlength="25" type="text" class="validate"
                        required>
                    <label for="cocktail_name">Cocktail Name</label>
                </div>
            </div>
            <div class="row">
                <!-- cocktail category -->
                <div class="input-field col s12 m6">
                    <i class="fas fa-folder-open prefix tooltipped" data-position="bottom" data-tooltip="Choose the Cateogry that your Cocktail best suits"></i>
                    <select id="category_id" name="category_id" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.id}}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_id">Cocktail Category</label>
                </div>
                <!-- main ingredient -->
                <div class="input-field col s12 m6">
                    <i class="fas fa-glass-martini-alt prefix tooltipped" data-position="bottom" data-tooltip="Main Ingredient must be between 2 and 25 characters long"></i>
                    <input id="main_ingredient" name="main_ingredient" minlength="2" maxlength="25"
                        type="text" class="validate" required>
                    <label for="main_ingredient">Main Ingredient</label>
                </div>
            </div>
            <!-- cocktail image -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-glass-martini-alt prefix tooltipped" data-position="bottom" data-tooltip="Cocktail Image must be a url link of an image"></i>
                    <input id="cocktail_img" name="cocktail_img" minlength="6" maxlength="150"
                        type="url" class="validate" required>
                    <label for="cocktail_img">Cocktail Image</label>
                </div>
            </div>
            <!-- cocktail description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix tooltipped" data-position="bottom" data-tooltip="Write between 5 and 200 characters to describe your Cocktail"></i>
                    <textarea id="cocktail_description" name="cocktail_description" minlength="5" maxlength="200"
                        class="materialize-textarea validate" required></textarea>
                    <label for="cocktail_description">Cocktail Description</label>
                </div>
            </div>
            <!-- method -->
            <div class="row">
                <div id="new-method" class="input-field col s8">
                    <i class="fas fa-align-left prefix tooltipped" data-position="bottom" 
                        data-tooltip="Explain the Method with each step. We will auto-number your steps. Click the Add/Remove buttons opposite to add/remove steps"></i>
                    <input id="method" name="method" minlength="5" maxlength="75" class="remove-meth validate" type="text" required>
                    <label for="method">Method</label>
                </div>
                <a id="add-meth-btn" class="btn-small green accent-4 text-shadow">Add</a>
                <a id="remove-meth-btn" class="btn-small red darken-1 text-shadow">Remove</a>
            </div>
            <!-- other ingredient -->
            <div class="row">
                <div id="new-input" class="input-field col s8">
                    <i class="fas fa-glass-martini-alt prefix tooltipped" data-position="bottom" 
                        data-tooltip="Add your other ingredients and measurements. Click the Add/Remove buttons opposite to add/remove other ingredients"></i>
                    <input id="other_ingredient" name="other_ingredient" minlength="2" maxlength="20"
                        type="text" class="js-remove-test validate" required>
                    <label for="other_ingredient">Other Ingredients and Measuerments</label>
                </div>
                <!-- <div class="col s2"> -->
                    <a id="add-other-btn" class="btn-small green accent-4 text-shadow">Add</a>
                    <a id="remove-other-btn" class="btn-small red darken-1 text-shadow">Remove</a>
                <!-- </div> -->
            </div>
            <div class="row">
                <!-- preperation time -->
                <div class="input-field col s12 m6">
                    <i class="fas fa-glass-martini-alt prefix tooltipped" data-position="bottom" data-tooltip="How long does it take to create your Cocktail (please write in minutes)"></i>
                    <input id="prep_time" name="prep_time" minlength="2" maxlength="25"
                        type="text" class="validate" required>
                    <label for="prep_time">Preperation Time</label>
                </div>
                <!-- servings -->
                <div class="input-field col s12 m6">
                    <i class="fas fa-glass-martini-alt prefix tooltipped" data-position="bottom" data-tooltip="How many servings does this Cocktail recipie make? Enter up to 10"></i>
                    <input id="servings" name="servings" min="1" max="10"
                        type="number" class="validate" required>
                    <label for="servings">Servings</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large red darken-1 text-shadow">
                        Cancel <i class="fas fa-times-circle right hide-on-med-and-down"></i>
                    </a>
                    <!-- submit button -->
                    <button type="submit" class="btn-large green accent-4 text-shadow ">
                        Add Cocktail to My Cabinet<i class="fas fa-plus-square right hide-on-med-and-down"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/forms.js') }}"></script>
{% endblock %}