{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Cocktails</h3>

    {% for recipe in recipes %}
        {{ recipe.cocktail_name }}<br>
        {{ recipe.category_name }}<br>
        {{ recipe.cocktail_img }}<br>
        {{ recipe.cocktail_description }}<br>
        {{ recipe.created_by }}<br>
        {{ recipe.main_ingredient }}<br>
        {{ recipe.method }}<br>
        {{ recipe.other_ingredient }}<br>
        {{ recipe.prep_time }}<br>
        {{ recipe.servings }}<br>
    {% endfor %}

{% endblock %}