{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Cocktails</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_cocktail') }}" class="btn-large light-blue darken-2">
            Add Cocktail <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<ul class="collapsible popout">
    {% for cocktail in cocktails %}
    <li>
        <div class="collapsible-header white-text light-blue darken-4 text-shadow">
            <i class="fas fa-glass-martini-alt"></i>
            <strong>{{ cocktail.cocktail_name }}</strong> by: {{ cocktail.created_by }}
        </div>
        <div class="collapsible-body">
            <strong>Category: {{ cocktail.category_name }}</strong>
            <p>{{ cocktail.cocktail_description }}</p>
            <p>{{ cocktail.cocktail_img }}</p>
            <p>Main Ingredient: {{ cocktail.main_ingredient }}</p>
            <p>Method: {{ cocktail.method }}</p>
            <p>Other Ingredients: {{ cocktail.other_ingredient }}</p>
            <p>Prep: {{ cocktail.prep_time }}</p>
            <p>Servings: {{ cocktail.servings }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}