{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Edit Cocktail</h3>

<main class="container">
    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_cocktail', cocktail_id=cocktail._id) }}">
            <!-- cocktail name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-glass-martini-alt prefix"></i>
                    <input id="cocktail_name" name="cocktail_name" minlength="2" maxlength="25"
                        value="{{ cocktail.cocktail_name }}" type="text" class="validate" required>
                    <label for="cocktail_name">Cocktail Name</label>
                </div>
            </div>
            <div class="row">
                <!-- cocktail category -->
                <div class="input-field col s12 m6">
                    <i class="fas fa-folder-open prefix"></i>
                    <select id="category_id" name="category_id" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                            {% if category.id == cocktail.category_id | int %}
                                <option value="{{ category.id }}" selected>{{ category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.id }}">{{ category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Cocktail Category</label>
                </div>
                <!-- main ingredient -->
                <div class="input-field col s12 m6">
                    <i class="fas fa-glass-martini-alt prefix"></i>
                    <input id="main_ingredient" name="main_ingredient" minlength="2" maxlength="25"
                        value="{{ cocktail.main_ingredient }}" type="text" class="validate" required>
                    <label for="main_ingredient">Main Ingredient</label>
                </div>
            </div>
            <!-- cocktail image -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-glass-martini-alt prefix"></i>
                    <input id="cocktail_img" name="cocktail_img" minlength="6" maxlength="150"
                        value="{{ cocktail.cocktail_img }}" type="url" class="validate" required>
                    <label for="cocktail_img">Cocktail Image</label>
                </div>
            </div>
            <!-- cocktail description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="cocktail_description" name="cocktail_description" minlength="5" maxlength="200"
                        class="materialize-textarea validate" required>
                        {{- cocktail.cocktail_description -}}
                        </textarea>
                    <label for="cocktail_description">Cocktail Description</label>
                </div>
            </div>
            <!-- method -->
            <div class="row">
                <div id="new-method" class="input-field col s6">
                    <i class="fas fa-align-left prefix"></i>
                    {% for method in cocktail.method %}
                    <input id="method" name="method" minlength="5" maxlength="75" value="{{ method }}" type="text" class="remove-meth remove-meth-btn validate" required>
                    {% endfor %}
                    <label for="method">Method</label>
                </div>
                <div class="col s6">
                    <a id="add-meth-btn" class="waves-effect waves-light btn-large">Add</a>
                    <a id="remove-meth-btn" class="waves-effect waves-light btn-large">Remove</a>
                </div>
            </div>
            <!-- other ingredient -->
            <div class="row">
                <div id="new-input" class="input-field col s6">
                    <i class="fas fa-glass-martini-alt prefix"></i>
                    {% for ingredient in cocktail.other_ingredient %}
                    <input id="other_ingredient" name="other_ingredient" minlength="2" maxlength="150"
                        value="{{ ingredient }}"  type="text" class="js-remove-test remove-other-btn validate" required>
                    {% endfor %}
                    <label for="other_ingredient">Other Ingredients and Measuerments</label>
                </div>
                <div class="col s6">
                    <a id="add-other-btn" class="waves-effect waves-light btn-large">Add</a>
                    <a id="remove-other-btn" class="waves-effect waves-light btn-large">Remove</a>
                </div>
            </div>
            <div class="row">
                <!-- preperation time -->
                <div class="input-field col s12 m6">
                    <i class="fas fa-glass-martini-alt prefix"></i>
                    <input id="prep_time" name="prep_time" minlength="1" maxlength="25" value="{{ cocktail.prep_time }}"
                        type="text" class="validate" required>
                    <label for="prep_time">Preperation Time</label>
                </div>
                <!-- servings -->
                <div class="input-field col s12 m6">
                    <i class="fas fa-glass-martini-alt prefix"></i>
                    <input id="servings" name="servings" min="1" max="10" value="{{ cocktail.servings }}"
                        type="number" class="validate" required>
                    <label for="servings">Servings</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button -->
                    <a href="{{ url_for('all_cocktails') }}" class="btn-large red text-shadow">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                    <!-- submit button -->
                    <button type="submit" class="btn-large green accent-4 text-shadow">
                        Edit Cocktail <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>

{% endblock %}