{% extends "base.html" %}
{% block content %}

<div class="hero-image">
  <div class="hero-text">
    <h1>Share a Drink With Us</h1>
    <p>Share a Drink With Us</p>
    {% if session.user  %}
      <a href="{{ url_for('profile', username=session['user']) }}" class="btn-small green accent-4">My Cabinet</a>
    {% else %}
      <a href="{{ url_for('login') }}" class="btn-small green accent-4">Log In</a>
    {% endif %}
  </div>
</div>

<section class="house-section">
  <!-- <h2 id="house-heading">House Rules?</h2> -->
  <div class="house-container">
    <ul>
      <li>
        <img src="../static/images/bar.jpg" alt="Image of an empty drinks bar">
        <h4>Head to The Bar</h4>
        <hr>
        <p>See anything you like at The Bar?</p>
      </li>
      <li>
        <img src="../static/images/bar.jpg" alt="Image of a cocktail being mixed">
        <h4>Mix a Cocktail</h4>
        <hr>
        <p>Feel The Bar is missing your preferred cocktail? Mix your own and add it to My Cabinet.</p>
      </li>
      <li>
        <img src="../static/images/bar.jpg" alt="Image of a group of people sharing drinks">
        <h4>Share your Cocktail</h4>
        <hr>
        <p>Fancy sharing a cocktail? Leave a comment, share a cocktail recipe or save one for later</p>
      </li>
    </ul>
  </div>
</section>

<main class="container">
  <div class="slider">
    <ul class="slides">
      {% for category in categories %}
      <li>
        <a href="{{ url_for('filter_category', category_id=category.id) }}">
          <img src="../static/images/whiskey_sour.jpg" alt="picture of a whiskey sour cocktail" width="100" height="250">
          <div class="caption left-align">
            <h2>{{ category.category_name }}</h2>
            <!-- <h6 class="light grey-text text-lighten-3">Here's our small slogan.</h6> -->
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>

{% endblock %}