{% extends "base.html" %}
{% block content %}

<div class="hero-image">
  <div class="hero-text">
    <h1>The Cocktail Cabinet</h1>
    <h5>Share a Drink With Us</h5>
    {% if session.user %}
      <a href="{{ url_for('profile', username=session['user']) }}" class="btn-large green accent-4 text-shadow">My Cabinet</a>
    {% else %}
      <a href="{{ url_for('login') }}" class="btn-large green accent-4 text-shadow">Log In</a>
    {% endif %}
  </div>
</div>

<section class="house-section">
  <!-- <h2 id="house-heading">House Rules?</h2> -->
  <div class="house-container">
    <ul>
      <li>
        <a href="{{ url_for('all_cocktails') }}">
          <img class="hoverable" src="../static/images/bar.jpg" alt="Image of an empty drinks bar">
        </a>
        <h4>Head to The Bar</h4>
        <hr>
        <p>See anything you like at The Bar? Try it yourself!</p>
      </li>
      <li>{% if session.user  %}
        <a href="{{ url_for('profile', username=session['user']) }}">
          <img class="hoverable" src="../static/images/shake.jpg" alt="Image of a cocktail being mixed">
          </a>
        {% else %}
          <a href="{{ url_for('login') }}">
            <img class="hoverable" src="../static/images/shake.jpg" alt="Image of a cocktail being mixed">
          </a>
        {% endif %}
        <h4>Add a Cocktail</h4>
        <hr>
        <p>Feel The Bar is missing your preferred cocktail? Add your own cocktail recipe</p>
      </li>
      <li>
        {% if session.user  %}
          <a href="{{ url_for('profile', username=session['user']) }}">
            <img class="hoverable" src="../static/images/cheers.jpg" alt="Image of a cocktails being shared">
          </a>
        {% else %}
          <a href="{{ url_for('login') }}">
            <img class="hoverable" src="../static/images/cheers.jpg" alt="Image of a cocktails being shared">
          </a>
        {% endif %}
        <h4>Share your Cocktail</h4>
        <hr>
        <p>Fancy sharing a cocktail? Add and share your own cocktail recipe or comment, favourite and save one for later</p>
      </li>
    </ul>
  </div>
</section>

<!-- Carousel -->
<div class="carousel">
  {% for category in categories %}
    <a class="carousel-item" href="{{ url_for('filter_category', category_id=category.id) }}">
      <img src="../static/images/whiskey-sour.jpg" alt="picture of a cocktail" style="width:100%">
      <div class="carousel-text">{{ category.category_name }}</div>
    </a>
  {% endfor %}
</div>

{% endblock %}