{% extends "base.html" %}
{% set active_page = 'profile' %}
{% block content %}

<div class="profile-image">
    <div class="profile-text">
        <h1>{{ username }}'s Cabinet</h1>
        <a href="{{ url_for('add_cocktail') }}" class="btn-large green accent-4 text-shadow">
            Add Cocktail to My Cabinet <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>


<main class="container">
    {% if cocktails|length > 0 %}
        <div class="row">
            {% for cocktail in cocktails %}
            {% if session.user|lower == cocktail.created_by|lower %}
            <div class="col s12 m6 l4">
                <div class="card hoverable">
                    <div class="card-image">
                        <a href="{{ url_for('view_cocktail', cocktail_id=cocktail._id ) }}">
                            {% if cocktail.cocktail_img %}
                                <img src="{{ cocktail.cocktail_img }}" alt="picture of user submitted cocktail" onerror="this.onerror=null;this.src='static/images/whiskey_sour.jpg';" width="100" height="250">
                            {% else %}
                                <img src="{{ url_for('static', filename='static/images/whiskey_sour.jpg') }}" alt="picture of a whiskey sour cocktail" width="100"
                                height="250">
                            {% endif %}
                            <span class="card-title"><strong>{{ cocktail.cocktail_name }}</strong></span>
                        </a>
                    </div>
                    <div class="center-align">
                        <a href="#{{ cocktail._id }}" class="btn-small red darken-1 modal-trigger"><i class="fas fa-trash"></i> Delete</a>
                        <a href="{{ url_for('edit_cocktail', cocktail_id=cocktail._id ) }}" class="btn-small blue lighten-1">Edit <i class="fas fa-edit right"></i></a>
                    </div>
                    <!-- Modal Structure -->
                    <div id="{{ cocktail._id }}" class="modal center-align">
                        <div class="modal-content">
                            <h4>Wait...</h4>
                            <p>Are you sure you want to delete this<strong>{{ cocktail.cocktail_name }}</strong> cocktail?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_cocktail', cocktail_id=cocktail._id ) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                            <a href="#!" class="modal-close waves-effect waves-green btn-small">Cancel</a>
                        </div>
                    </div>
                    <div class="card-content">
                        <strong>Category: {{ cocktail.category_name }}</strong>
                        <p>{{ cocktail.cocktail_description }}</p>
                        <p>Prep: {{ cocktail.prep_time }}</p>
                        <p>Servings: {{ cocktail.servings }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('view_cocktail', cocktail_id=cocktail._id ) }}">View Cocktail</a> by: {{ cocktail.created_by }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">Your Cocktail Cabinet is Empty</h3>
    {% endif %}
</main>

{% endblock %}