{% extends "base.html" %}
{% block content %}

<h3 class="center-align">{{ cocktail.cocktail_name }}</h3>

<main class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
        <div class="card">
            <div class="card-image">
                {% if cocktail.cocktail_img %}
                    <img src="{{ cocktail.cocktail_img }}" alt="picture of user submitted cocktail" onerror="this.onerror=null;this.src='static/images/whiskey_sour.jpg';" width="100" height="250">
                {% else %}
                    <img src="{{ url_for('static', filename='static/images/whiskey_sour.jpg') }}" alt="picture of a whiskey sour cocktail" width="100"
                    height="250">
                {% endif %}
                <span class="card-title"><strong>{{ cocktail.cocktail_name }}</strong></span>
            </div>
            <div>
                {% if session.user|lower == cocktail.created_by|lower %}
                    <a href="#{{ cocktail._id }}" class="btn-small green accent-4 modal-trigger">Delete</a>
                    <a href="{{ url_for('edit_cocktail', cocktail_id=cocktail._id ) }}" class="btn-small">Edit</a>
                {% endif %}
            </div>
            <!-- Modal Structure -->
            <div id="{{ cocktail._id }}" class="modal">
                <div class="modal-content">
                    <h4>Wait...</h4>
                    <p>Are you sure you want to delete this<strong>{{ cocktail.cocktail_name }}</strong> cocktail?</p>
                </div>
                <div class="modal-footer">
                    <a href="{{ url_for('delete_cocktail', cocktail_id=cocktail._id ) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                    <a href="#!" class="modal-close waves-effect waves-green btn-small">Cancel</a>
                </div>
            </div>
            <div class="card-content">
                <strong>Category: {{ cocktail.category_name }}</strong>
                <p>{{ cocktail.cocktail_description }}</p>
                <p>Main Ingredient: {{ cocktail.main_ingredient }}</p>
                <p>Method:
                    <ol>
                    {% for method in cocktail.method %}
                        <li>
                        {{ method }}
                        </li>
                    {% endfor %}
                    </ol>
                </p>
                <p>Other Ingredients:
                    <ul>
                    {% for ingredient in cocktail.other_ingredient %}
                        <li>
                        {{ ingredient }}
                        </li>
                    {% endfor %}
                    </ul>
                </p>
                <p>Prep: {{ cocktail.prep_time }}</p>
                <p>Servings: {{ cocktail.servings }}</p>
                <div class="card-action center-align">
                    <p>by: {{ cocktail.created_by }}</p>
                </div>
            </div>
        </div>
        <div class="row center-align">
            <div class="col s12">
                <a href="{{ url_for('all_cocktails') }}" class="btn-small center-align">Return to The Bar</a>
            </div>
        </div>
        </div>
    </div>
</main>


{% endblock %}